<%= button_to 'Activate Game!', activate_game_path, class: 'btn btn-secondary' %>

<ul>
  <% @assignments.each do |assignment| %>
    <li>
      <%= Player.find(assignment.killer_id).nickname + ' -> ' + Player.find(assignment.target_id).nickname %>
    </li>
  <% end %>
</ul>