<% if @game.is_pending %>
  <%= button_to 'Re-generate all target Assignments', generate_assignments_path, class: 'btn btn-secondary' %>
  <%= button_to 'Confirm Assignments and Activate Game!', activate_game_path, class: 'btn btn-secondary' %>
<% elsif @game.is_active or @game.is_suspended %>
  <%= button_to 'Re-generate all target Assignments', generate_assignments_path, class: 'btn btn-secondary' %>
<% end %>

<ol>
  <% @assignments.each do |assignment| %>
    <li>
      <%= Player.find(assignment.killer_id).nickname + ' -> ' + Player.find(assignment.target_id).nickname %>
    </li>
  <% end %>
</ol>