<% if @game.status == Game::STATUS_PENDING %>
  <%= button_to 'Re-generate all target Assignments', generate_assignments_path, class: 'btn btn-secondary' %>
  <%= button_to 'Confirm Assignments and Activate Game!', activate_game_path, class: 'btn btn-secondary' %>
<% elsif @game.status == Game::STATUS_ACTIVE or @game.status == Game::STATUS_SUSPENDED %>
  <%= button_to 'Re-generate all target Assignments', generate_assignments_path, class: 'btn btn-secondary' %>
<% end %>

<ol>
  <% @assignments.each do |assignment| %>
    <li>
      <%= Player.find(assignment.killer_id).nickname + ' -> ' + Player.find(assignment.target_id).nickname %>
    </li>
  <% end %>
</ol>